# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
.venv/
venv/
ENV/

# Spyder project settings
/.spyproject/

# pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# dotenv
.env

# others
/.idea/
